[MASTER]
extension-pkg-whitelist=
    PySide2,
    musicplayer

disable=
    invalid-name,
    no-self-use,
    multiple-statements,
    wildcard-import,
    unused-wildcard-import,
    missing-module-docstring,
    locally-disabled,
    locally-enabled,
    logging-format-interpolation,
    no-init,
    too-few-public-methods,
    too-many-instance-attributes
