[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jellyfin-apiclient-python = {git = "https://github.com/iwalton3/jellyfin-apiclient-python", editable = true, ref="master"}
musicplayer = {git = "https://github.com/n-peugnet/music-player-core.git", ref = "test-branch"}
appdirs = "==1.*"
pyside2 = "==5.*"

[requires]
python_version = "3.6"
